<div class="cover-user-show">
  <div class="container d-flex flex-column align-items-center">
    <div class="row mt-5">
      <% if user_signed_in? && @user == current_user %>
        <h1 class="font-weight-normal">マイページ</h1>
      <% else %>
        <h1 class="font-weight-normal"><%= @user.name %>さんのページ</h1>
      <% end %>
    </div>
    <% if user_signed_in? && @user == current_user %>
      <p class="d-flex align-self-end">
        <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-success" %>
        <%= link_to "チャット一覧へ", rooms_path(current_user), class: "btn btn-primary" %>
      </p>
    <% end %>
    <% if current_user != @user %>
      <% if current_user.following?(@user) && @user.following?(current_user) %>
        <% if @is_room == true %>
          <%= link_to 'チャットを始める', room_path(@room_id), class: "btn btn-success" %>
        <% else %>
          <%= form_with model: @room do |f| %>
            <%= f.fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, value: @user.id %>
            <% end %>
            <%= f.submit "メッセージを送る", class:"btn btn-primary" %>
          <% end %>
        <% end %>
      <% end %>
      <% if current_user.following?(@user) %>
        <p class="d-flex align-self-end">
          <%= link_to 'フォローをはずす', user_relationships_path(@user.id), data: { turbo_method: :delete }, class: "btn btn-danger" %>
        </p>
        <% else %>
        <p class="d-flex align-self-end">
          <%= link_to 'フォローする', user_relationships_path(@user.id), data: { turbo_method: :post }, class: "btn btn-success" %>
        </p>
      <% end %>
    <% end %>
    <div class="d-flex w-100">
      <% if @user.profile_image.attached? %>
        <%= image_tag @user.profile_image, size: '100x100', class: "mb-3 profile-img" %>
      <% else %>
        <%= image_tag "no_image.svg", size: '100x100', class: "mb-3 profile-img" %>
      <% end %>
      <h4 class="ml-3 mb-3 card w-100 profile"><%= @user.profile %></h4>
    </div>
    <div class="d-flex">
      <%= link_to follows_user_path(@user) do %>
        <h6>フォロー<%= @following_users.count %>人</h6>
      <% end %>
      <%= link_to followers_user_path(@user) do %>
        <h6>フォロワー<%= @follower_users.count %>人</h6>
      <% end %>
    </div>
    <div class="row mt-5 index-left w-100">
      <% @posts.each do |post| %>
        <div class="one-post col-sm-3 mb-3">
          <%= link_to post_path(post) do %>
            <% if post.image.attached? %>
              <%= image_tag post.image.variant(resize_to_limit: [200,133]) %>
            <% end %>
            <p class="caption mb-0"><%= post.location %></p>
            <p class="caption"><%= "#{post.comments.count} コメント" %></p>
          <% end %>
        </div>
      <% end %>
  </div>
  <%= paginate @posts %>
</div>
